{% extends 'main.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Cadastra Produto{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'Agrochain/style.css' %}">
{% endblock %}
{% block content %}
<div class="form-row">
<div class="vertical-menu" >
    {% if user.TypeUser == 1 %}
        <a href="{% url 'product:cadastrarproduto' %}" >Cadastrar Produto</a>
        <a href="{% url 'product:pesquisarproduto' %}" >Pesquisar Produto</a>
        <a href="#">Checkout</a>
        <a href="#">Checkin</a>
        <a href="#">Vender</a>
        <a href="#">Comprar</a>
        {%endif%}
</div>
<div class="col">
    <h1>Preencha o formulário a seguir</h1>
<form action="../cadastrarproduto/" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Enviar" />
</form>
</div>
</div>



{% endblock %}