{% extends 'base.html' %}

{% block title %}Agrochain{% endblock %}

{% block content %}


<style>
.question_form {
    display: none;
    padding: 20px;
}
.botao{
    background-color:rgba(86, 148, 150, 0.952);
    border:inherit;
    padding:10px 20px;
    margin-right: 15px;
    margin-top: 25px;
    font-size: 17px;
    color:white;
}
.botao:hover{
    background-color:rgba(23, 141, 96, 0.952);
    color:black;
}
</style>

<body>
    <header>
        <div class="container">
            <h2>Seja Bem Vindo {{ user.first_name }}!</h2>
            <div class="botoes">
                <button onclick = "Mudarestado('q1')" role="button" class="botao">
                    Cadastrar Produto
                </button>
                <button onclick = "Mudarestado('q2')" role="button" class="botao">
                    Pesquisar Produto
                </button>
                <button onclick = "Mudarestado('q3')" role="button" class="botao">
                    Relatório
                </button>
            </div>
        </div>
    </header>

    <div class="question_form" id="q1">
        <form id="form1" method="post">
            <h2>Preencha o formulário para cadastrar seu produto na Agrochain</h2><br />
            <input type="hidden" >
            <div id="div_id_product_name" class="form-group">
                <label for="id_product_name" class=" requiredField">
                    Nome do produto
                    <span class="asteriskField">*</span>
                </label>
                <div class="">
                    <input type="text" name="product_name" placeholder="Nome do produto" autocomplete="product_name" minlength="1" maxlength="150" class="textinput textInput form-control" required id="id_product_name">
                </div>
            </div>
            <div id="div_id_registro" class="form-group">
                <label for="id_registro" class="requiredField">
                    Registro do produto
                    <span class="asteriskField">*</span>
                </label>
                <div class="">
                    <input type="text" name="registro" placeholder="Registro do produto" autocomplete="registro" class="textinput textInput form-control" required id="id_registro">
                </div>
            </div>
            <div id="div_id_TypeProduct" class="form-group">
                <label for="id_TypeProduct" class=" requiredField">
                    Categoria
                    <span class="asteriskField">*</span>
                </label>
                <div class="">
                    <select name="TypeProduct" class="select form-control" required id="id_TypeProduct">
                        <option value="0"></option>
                        <option value="1">Matéria-prima base</option>
                        <option value="2">Matéria-prima processada</option>
                        <option value="3">Produto processado</option>
                        <option value="4">Rota de transporte</option>

                    </select>
                </div>
            </div>
            <div id="div_id_password1" class="form-group">
                <label for="id_password1" class=" requiredField">
                    Digite sua Senha
                    <span class="asteriskField">*</span>
                </label>
                <div class="">
                    <input type="password" name="password1" placeholder="Senha" autocomplete="new-password" class="textinput textInput form-control" required id="id_password1">
                </div>
            </div>

            <button class="btn btn-success" type="submit">Cadastrar</button>
            <button class="btn btn-success" type="reset">Limpar</button>

        </form>
    </div>

    <div class="question_form" id="q2">
        <form id="form2"  method="get">
            <h2>Preencha o formulário para pesquisar um produto na Agrochain</h2><br />
            <input type="hidden" >
            <div id="div_id_product_name" class="form-group">
                <label for="id_product_name" class=" ">
                    Nome do produto
                </label>
                <div class="">
                    <input type="text" name="product_name" placeholder="Nome do produto" autocomplete="product_name" minlength="1" maxlength="150" class="textinput textInput form-control"  id="id_product_name">
                </div>
            </div>
            <div id="div_id_registro" class="form-group">
                <label for="id_registro" class="requiredField">
                    ID do produto
                    <span class="asteriskField">*</span>
                </label>
                <div class="">
                    <input type="text" name="registro" placeholder="ID do produto" autocomplete="registro" class="textinput textInput form-control" required id="id_registro">
                </div>
            </div>

            <button class="btn btn-success" type="submit">Pesquisar</button>
            <button class="btn btn-success" type="reset">Limpar</button><br />

            <br /><h2>Ou utilize o QRCode do produto</h2><br />
            <button class="btn btn-success" type="submit">QRCode</button>

        </form>
    </div>

    <div class="question_form" id="q3">
        <h2>Preencha o formulário para requerir um relatório na Agrochain</h2><br />
        <form id="form3" method="get">
            <input type="hidden" name="csrfmiddlewaretoken" value="XZJiAN6J327Ff0aqpbnZ9cfBZn4kmkQ2Yhp2kIXJAD2JaHf8WgWFIi6yaGEj5AjZ">
            <div id="div_id_registro" class="form-group">
                <label for="id_registro" class="requiredField">
                    ID do produto
                    <span class="asteriskField">*</span>
                </label>
                <div class="">
                    <input type="text" name="registro" placeholder="ID do produto" autocomplete="registro" class="textinput textInput form-control" required id="id_registro">
                </div>
            </div>
            <div id="div_id_TypeReport" class="form-group">
                <label for="id_TypeReport" class=" requiredField">
                    Tipo de relatório
                    <span class="asteriskField">*</span>
                </label>
                <div class="">
                    <select name="TypeReport" class="select form-control" required id="id_TypeReport">
                        <option value="0"></option>
                        <option value="1">Simples</option>
                        <option value="2">Completo</option>
                        <option value="3">Financeiro</option>
                        <option value="4">Controle da rede</option>

                    </select>
                </div>
            </div>

            <button class="btn btn-success" type="submit">Visualizar</button>
            <button class="btn btn-success" type="reset">Limpar</button>
        </form>

    </div>

    <script type="text/javascript">
        function Mudarestado(el) {
            if(el == 'q1'){
                document.getElementById('q2').style.display = 'none';
                document.getElementById('q3').style.display = 'none';
            }
            if(el == 'q2'){
                document.getElementById('q1').style.display = 'none';
                document.getElementById('q3').style.display = 'none';
            }
             if(el == 'q3'){
                document.getElementById('q2').style.display = 'none';
                document.getElementById('q1').style.display = 'none';
            }
            document.getElementById(el).style.display = 'block';
      }
    </script>


</body>


{% endblock %}
