{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}FillProfile{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'Agrochain/style.css' %}">
{% endblock %}
{% block content %}
<h1>Preencha o formulário a seguir</h1>
<form action="/fillprofile/" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <!-- <p><label for="id_CNPJ">CNPJ:</label>
        <input id="text" type="text" name="CNPJ" maxlength="100" /></p>
    <p><label for="id_organic_numb_certification">N° certificado:</label>
        <input type="text" name="organic_numb_certification" id="id_organic_numb_certification" /></p>
    <p><label for="id_company_name">Empresa:</label>
        <input type="text" name="company_name" id="id_company_name" /></p> -->
    <input type="submit" value="Submit" />
</form>


{% endblock %}