{% extends 'base.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}
<div style="margin-left:25%;padding:10px 16px;height:1000px;">

    {% if request.user.profile_set %}
        {% if user.TypeUser == 2 %}
            <h1>Seja Bem Vindo {{ user.first_name }}!</h1><br />
            <h3>Nome: {{user.first_name}}{{last_name}}</h3>
            <h3>Localidade: {{user.city}}, {{user.state}} - {{user.country}}</h3>
            <h3>Data de Nascimento: {{user.birthday}}</h3><br />        
            <a class="btn btn-success" href="{% url 'pages:enduser' %}">Ir para página do usuário</a>
        {% else %}
            <h1>Seja Bem Vindo {{ user.first_name }}!</h1><br />
            <h3>Nome: {{user.first_name}}{{last_name}}</h3>
            <h3>Empresa: {{user.company_name}}</h3>
            <h3>CNPJ: {{user.CNPJ}}</h3>
            <h3>Localidade: {{user.city}}, {{user.state}} - {{user.country}}</h3>
            <h3>Data de Nascimento: {{user.birthday}}</h3><br />       
            <a class="btn btn-success" href="{% url 'pages:creator' %}">Ir para página do usuário</a>
        {% endif %}
    {% else %}
        <h2>Prezado {{user.username}},</h2>
        <p>É necessário que você atualize seus dados!</p>
        <a class="btn btn-success" href="{% url 'pages:fillprofile' %}">Ok</a>

    {% endif %}
</div>
{% endblock %}
