
{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Comprar Produto{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'Agrochain/css/style.css' %}">
{% endblock %}
{% block content %}
<div class="form-row">
    <div class="col">
        <form action="../comprarproduto/" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Enviar" />
        </form>
    </div>
    <div class="grid-container">
    {% if Result != None %}
        {% for i in Result %}
            <div class="teste">
                <p>Produto: {{i.tipo}}      </p>
                <p>Quantidade: {{i.quantidade}}</p>
                <p>Data de criação: {{i.data_criacao }}</p>
                <p>Descrição: {{i.descricao}}</p>
                <a class="btn btn-success" type="submit" style="background-color: blue;" href="{{ i.get_checklist_url }}"> Comprar </a>
            </div>
        {%endfor%}
    {%else%}
            <h3 style="text-align: center;">Sua pesquisa retornou 0 resultados</h3>
    {%endif%}
    </div>
</div>
{% endblock %}

