{% extends 'base.html' %}
{% load static %}
{% block title %}Agrochain{% endblock %}

{% block content %}
<div>
    <div>
        <h1 style = "text-align:center; padding-top: 20px;">Seja Bem Vindo!</h1>
        <h3 style = "padding-top:10px; text-align:center;">Este é o Blockchain para Supplychain em Agronegócio.<br>
        Um trabalho para a disciplina de Projeto Multidisciplinar.
        </h3>
    </div>
    <div>
        <figure style = "padding-top: 20px; text-align: center;">
            <img src="{% static 'media/agrochain.jpg' %}" alt="My image">
            <!-- <figcaption>Fig.1 - Trulli, Puglia, Italy.</figcaption> -->
        </figure> 
    </div>
</div>
{% endblock %}