{% extends 'base.html' %}

{% block title %}Agrochain{% endblock %}
{% load static %}

{% block content %}



<div class="vertical-menu">
    {% if user.TypeUser == 1 %}
        <a href="{% url 'product:cadastrarproduto' %}" >Cadastrar Produto</a>
        <a href="{% url 'product:pesquisarproduto' %}" >Pesquisar Produto</a>
        <a href="{% url 'product:comprarproduto' %}">Comprar</a>
    {% elif user.TypeUser == 3 %}

        <a href="{% url 'product:pesquisarproduto' %}" >Pesquisar Produto</a>
        <a href="{% url 'product:checkin' %}">Checklist</a>
        <a href="{% url 'product:checkout' %}">Checkout</a>
    {% elif user.TypeUser == 4 %}
        <a href="{% url 'product:cadastrarproduto' %}" >Cadastrar Produto</a>
        <a href="{% url 'product:pesquisarproduto' %}" >Pesquisar Produto</a>
        <a href="{% url 'product:comprarproduto' %}">Comprar</a>
    {% else %}
        <a href="{% url 'product:pesquisarproduto' %}" >Pesquisar Produto</a>
    {%endif%}
</div>
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'Agrochain/css/style.css' %}">
{% endblock %}