
{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Transporte de Produto{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'Agrochain/css/style.css' %}">
{% endblock %}
{% block content %}
<div class="grid-container-relatorio">
    <div >

    </div>

    <div class="item1">
        <h3 style="text-align: center;">Relatório do {{produto.tipo}} </h3><br>
        <h5 style="text-align: center;">Dados do produto</h5>
        <p> <b> Produto:</b> {{produto.tipo}}   </p>
        <p>Status:  {{produto.status}}</p>
        <p><b>Quantidade:</b> {{produto.quantidade}}</p>
        <p><b>Data de criação:</b> {{produto.data_criacao }}</p>
        <p><b>Descrição:</b> {{produto.descricao}}</p>
        <h5 style="text-align: center;">Dados do produtor</h5>
        <p><b>Produtor:</b> {{produtor.first_name}} {{produtor.last_name}}</p>
        <p><b>Cidade:</b> {{produtor.city}}</p>  <p><b>Estado: </b>{{produtor.state}}</p>   <p><b>País:</b> {{produtor.country}}</p>
    </div>
    <div>

    </div>
</div>
{% endblock %}